body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background-color:#f4f6ff;
}
.board{
display:grid;
grid-template-columns:repeat(8,60px);
grid-template-rows:repeat(8,60px);
}
.white{
background-color:white;
width:60px;
height:60px;
}
.black{
background-color:black;
width:60px;
height:60px;
}